body {
  margin: 0;
  background: #111;
  font-family: Arial, sans-serif;
}

.clock-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  color: #00ffff;
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: 4px;
  text-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff;
  animation: glow 1.5s infinite ease-in-out;
}
/* 
@keyframes glow {
  0% { text-shadow: 0 0 20px #00ffff; }
  50% { text-shadow: 0 0 60px #00ffff; }
  100% { text-shadow: 0 0 20px #00ffff; }
} */
